#div7
{
    background-image: url("../Image/back5.jpg");
    background-size: cover;
    height: 640px;
}
.ip11
{
    margin-left: 11px;
    height: 30px;
    width: 290px;
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 50px;
}
.ip12
{
    margin-left: 49px;
    height: 30px;
    width: 290px;
    border: 1px solid black;
    border-radius: 7px;
}
.bg3
{
    background-color: #D5F5E3;
    height: 330px;
}
.head9
{
    font-size: 37px;
    color: darkgreen;
    margin-top: 15px;
}
.label13, .label14
{
    font-size: 24px;
}
.address
{
    margin-top: 100px;
}
.btn5
{
    border: 1px solid darkviolet;
    background-color: darkgreen;
    border-radius: 8px;
    color: white;
    height: 41px;
    width: 95px;
    font-size: 22px;
}