#div4
{
    background-color: #FAE5D3;
    background-image: url("../Image/back1.jpg");
    background-size: cover;
    height: 600px;
}
.menu
{
    font-size: 22px;
    margin-left: 60px;
}
.menulist
{
    font-size: 40px;
    color: #4CAF50;
}
.menudiv
{
    margin-top: 90px;
}
#menudiv4
{
    background-color: #FAE5D3;
    background-image: url("../Image/back1.jpg");
    background-size: cover;
    height: 580px;
}
.menufooter
{
    margin-top: 190px;
}
.div5
{
    height: 225px;
}
.card1
{
    height: 124px;
}
.name
{
    font-size: 18px;
}
.charge
{
    font-size: 16px;
    color: #839192;
}
.nav
{
    height: 114px;
}
.sidebar
{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
    height: 225px;
    font-size: 20px;
    width: 215px
}
.sidebar a
{
    display: block;
    color: black;
    padding: 16px;  
}
.sidebar a.active
{
    background-color: #4CAF50;
    color: white;
    text-decoration: underline;
    text-decoration-color: #4CAF50;
 } 
.sidebar a:hover:not(.active) {
    background-color: #A9DFBF;
    color: darkgreen;
    text-decoration: underline;
    text-decoration-color: #A9DFBF;
}  
div.content
{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}  
@media screen and (max-width: 700px)
{
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}  
@media screen and (max-width: 400px)
{
    .sidebar a {
      text-align: center;
      float: none;
    }
}
.loc
{
    color: slategray;
}
.rest1
{
    height: 87px;
}
.dashfooter
{
    margin-top: 100px;
}