#body
{
    background-color: #D1F2EB;
    height: 731px;
}
.heading3
{
    margin-top: 10px;
	font-size: 42px;
    color:darkmagenta;
    font-style: italic;
}
.heading4, .heading5, .heading6
{
    font-size: 32px;
    color: darkmagenta;
    margin-top: 10px;
    font-style: italic;
}
.p2, .p3, .p4, .p5, .p6, .p7
{
    font-size: 17px;
    color: black;
    font-style: italic;
}