#div1
{
    background-color: #FAE5D3;
    background-image: url("../Image/back1.jpg");
    background-size: cover;
    /* background-color: #F7DC6F; */
}
.logo
{
    height: 103px;
    border: 1px solid white;
    border-radius: 50%;
    width: 99px;
    margin-left: 50px;
}
.btn1
{
    border: 1px solid white;
    border-radius: 6px;
    height: 40px;
    width: 91px;
    font-size: 15px;
    margin-top: 31px;
    background-color:darkgreen;
    color: white;
    /* box-shadow: 2px 2px 2px 2px; */
}
.btn2
{
    border: 1px solid white;
    border-radius: 6px;
    height: 40px;
    width: 91px;
    font-size: 15px;
    margin-top: 31px;
    background-color:darkgreen;
    color: white;
}
.label1
{
    margin-left: 215px;
    font-size: 35px;
    color: darkgreen;
}
.ip1
{
    margin-top: 35px;
    margin-left: 17px;
    height: 38px;
    width: 240px;
    border: 1px solid darkgreen;
    border-radius: 12px;
}
.ip2
{
    margin-top: 35px;
    margin-left: 22px;
    height: 38px;
    border: 1px solid white;
    background-color: darkgreen;
    border-radius: 17px;
    width: 73px;
    font-size: 16px;
    color: white;
}
.p1
{
    color: black;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}
.head
{
    color: black;
    font-style: italic;
    margin-top: 51px;
}
.pic1
{
    height: 160px;
    margin-top: 67px;
    width: 250px;
    border: 1px solid #d81563;
}
.pic2
{
    height: 160px;
    margin-top: 67px;
    width: 250px;
    border: 1px solid #d81563;
}
.pic3
{
    height: 160px;
    margin-top: 67px;
    width: 250px;
    border: 1px solid #d81563;
}
/* .pic7, .pic8, .pic9
{
    height: 117px;
    width: 205px;
    margin-top: 35px;
} */
/* .pic4
{
    margin-top: 35px;
    height: 50%;
    width: 100%;
} */
.dropdown 
{
	position: relative;
	display: inline-block;
}

.dropdown-content 
{
	display: none;
	position: absolute;
	z-index: 0;
	background-color:#d81563;
    color: white;
    height: 15px;
    width: 50px;
    margin-top: 10px;
}
.dropdown:hover .dropdown-content
{
    display: block;
    display: block;
    height: 31px;
    width: 250px;
    margin-top: -32px;
    font-size: 18px;
    font-style: italic;
}
.slide1
{
    height: 70%;
    width: 100%;
    margin-top: 35px;
}
#slide
{
    /* background-color: #F7DC6F; */
    margin-top: 35px;
}