#box2
{
    background-image: url("../Image/back4.jpg");
    background-size: cover;
    height: 610px;
}
.heading2
{
    font-size: 42px;
    color: white;
}
.label6, .label7
{
    font-size: 18px;
    color: white;
}
.ip7
{
    margin-top: 54px;
    margin-left: 85px;
    width: 265px;
    height: 35px;
    border: 1px solid black;
    border-radius: 7px;
    font-size:16px;
}
.ip8
{
    margin-left: 49px;
    width: 265px;
    height: 35px;
    border: 1px solid black;
    border-radius: 7px;
    font-size:16px;
}
.msg1
{
    color:red;
    font-size:16px;
}
.btn4
{
    border: 1px solid white;
    background-color: darkgreen;
    border-radius: 8px;
    color: white;
    height: 41px;
    width: 95px;
    font-size: 22px;
}
.signin
{
    margin-top: 81px;
}
.footerdiv
{
    margin-top: 70px;
}